<ion-header>
  <ion-navbar>
    <ion-title>Available Rooms</ion-title>
    <ion-buttons end>
      <div *ngIf="!(accessToken$ | async); else logoutButton">
        <button ion-button (click)="login()">Login</button>
      </div>
      <ng-template #logoutButton>
        <button ion-button (click)="logout()">Logout</button>
      </ng-template>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let room of rooms$ | async" col-sm-12 col-md-6 col-lg-4 col-xl-3>
        <room-list-item [listing]="room" (onJoin)="joinRoom($event)"></room-list-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
